/node_modules/
/static/build/
/static/index.css
/static/g/
.DS_Store
.idea/
/static/feed.xml
/static/feed.json
/static/articles/
/static/assets/articles/
/.svelte-kit/
/build/
/e2e/screenshots/
/e2e/report/
/e2e/test-results/
/playwright-report/
